* {
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
}
.loadbtn {
  pointer-events: none;
}
.backGraph {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

}
/*.backGraph img{
//  width: auto;
// height: auto;
//  display: block;
}
*/

.backGraph img{
  width: 88vw;
  height: 93vh;
  display: block;
}

.foreGraph img {
  width: 100%;
  height: 100%;
  display: block;
}
.foreGraph {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  resize: both;
  overflow: hidden;
  width: 60px;
}
.slider {
  padding: 10px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
input{
  -webkit-appearance: slider-vertical; /* WebKit */
}
#resizeBox-2{
  left:40vw;
  top: 40vh;
}