body {overflow: hidden;}

nav{
  background:#046A38;
}
.heading{
  margin-right: 350px;
  margin-left: 25%;
  width:100%;
  font-size: 2.5rem;
}
.home-tag{
margin-top:10px;
margin-left: 50px;
font-size: 2rem;
}
h1{
  text-align: center;
  padding: 30px;
}

img{
  margin: 20px;
  display: inline-block;
}

.abc canvas {
  border:1px solid black;
  border-radius:10px;
}

.abc div {
  float:left;
  display:inline-block;
}

.abc button {
  border:none;
  padding:10px;
  border-radius: 7px;
  outline:none;
  background-color: #008bdb;
  color:white;
  cursor:pointer;
}

.slider {
  -webkit-appearance: none;
  width: 500px;
  height: 8px;
  border-radius:10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius:20px;
  border:1px solid black;
  background: #008bdb;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius:20px;
  border:1px solid black;
  background: #008bdb;
  cursor: pointer;
}
